<section class="ToucanTech Students">
	<header>
		<h1>Students</h1>
	</header>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Schools</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%if @students.any? %>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.name %></td>
            <td><%= student.email %></td>
            <td>
              <%student.schools.each do |school| %>
                <%= school.name%>
              <% end %>
            </td>
            <td>
            	<%= link_to "Edit #{student.name}", edit_student_path(student)  %>
            </td>
            <td>
            	<%= link_to "Delete #{student.name}", student_path(student), method: :delete %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <h1>No students to show</h1>
      <% end %>
		</tbody>
	</table>
	<%= link_to 'Add a student', new_student_path %> <br>
	<%= link_to "View schools",  schools_path %>
</section>